
html{  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;}
body {
  background: url("images/money.jpg");
  background-size: 100% 340%;
}
.quiz-container {
  margin: 0 auto;
  width: 85%;
  padding: 10px 20px 50px 20px;
  border: 1px solid #354259;
  border-radius: 50px;
  background-color: #ECE5C7;
}

h1 {
  margin-left: 7%;
  margin-bottom: 10px;
  font-family: 'Bangers', cursive;
  color: #354259;
  font-size: 75px;
  letter-spacing: 3px;
}

h2 {
  margin: 0 auto;
  font-family: 'Gloria Hallelujah', cursive;
}

h3 {
  font-size: 30px;
  margin: 5px auto;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.answer {
  background-color: #EED180;
  border: 1px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.answer:hover {
  transform: scale(1.05);
  font-size: 24px;
  font-weight: bold;
}

.resultBox {
  text-align: center;
}

img {
  /* padding-left: 7%; */
  height: auto;
  width: 60%;
  object-fit: cover;
  border-radius: 50px;
}

.buttonStyle {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #354259 100%);
  background-color: #5EE6EB;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 20px;
}

.buttonStyle:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #5EE6EB;
}

.buttonStyle:active {
  position: relative;
  top: 1px;
}
